body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.header{
    font-size: 32px;
    font-weight: bold;
}

.upload, .ant-upload, .ant-upload-picture-card-wrapper, .ant-upload-list{
    min-width: 100%;
    min-height: 350px;
}

.ant-upload.ant-upload-select-picture-card, .ant-upload.ant-upload-select-picture-card:hover{
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
}

.ant-upload.ant-upload-select-picture-card:after{
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


.input{
    max-width: 100% !important;
    border-radius: 8px !important;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.25) !important;
    margin: 10px 0px !important;
}

.input-short {
    max-width: 45% !important;
}

.inputs {
    justify-content: space-between;
}

.button{
    width: 100%;
    height: 40px;
    border-radius: 8px !important;
    margin: 20px 0px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.25) !important;  
}

.button-generate, .button-generate:hover{
    background-color: rgb(89, 105, 243);
    color: white !important;
}


.button-generate:disabled{
    background-color: gray !important;
    opacity: 0.2;
}

.container{
    padding: 10px;
    margin: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container{
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 50px;
}

.logo{
    font-size: 32px
}

.wallet-connected{
    border-radius: 8px;
    padding: 5px;
    color: white;
    text-align: center;
}

.error{
    color: tomato;
    margin: 20;
    font-size: 18px;
}

.link{
    color: black;
}

.link:hover{
    color: black;
}

.nft-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
}

.nft-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.76);
    padding: 10px;
    border-radius: 8px;
    max-width: 300px;
}

.nft-card-big{
    max-width: 500px;
}

.nft-card-image{
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

.nft-card-image-skeleton{
    width: 250px;
    height: 300px;
    background-color: #07b39b;
}

.nft-card-name{
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0px;
}

.nft-card-name-big{
    font-size: 24px;
}

.nft-card-description{
    width: 100%;
    font-size: 18px;
    color: gray;
}

.nft-card-price{
    width: 100%;
    font-size: 18px;
}

.button-buy{
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    line-height: 5px;
}

.brand{
    font-size: 48px;
    margin: 100px 0px 30px 0px;
}

.text{
    text-align: center;
    font-size: 24px;
    margin: 10px 0px;
}

/* Animation */

.slide-top {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-bottom {
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.gradient{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: white;
}

.gradient-border {
    --borderWidth: 3px;
    background: white;
    color: black;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
